:root {
  /* COLOR PALETTE 游릭*/
  --pf-color-brown-light: #b6a582;
  --pf-color-brown-medium: #8d6453;
  --pf-color-brown-dark: #684638;
  --pf-color-beige: #ece0c6;

  /* GRADIENTS 游릭*/
  --pf-gradient-white: linear-gradient(to right bottom, #ffffffb3, #ffffff4d);
  --pf-gradient-brown:linear-gradient(to right bottom, var(--pf-color-beige), var(--pf-color-brown-light));

  /* BORDER COLOR 游댮*/
  /* Determinar si hay
  --pf-color-border: var(--rc-color-n-100); */

  /* TYPOGRAPHY TYPE 游릭*/
  --pf-typography-heading: 'Roboto Condensed', sans-serif;
  --pf-typography-body: 'Ubuntu', sans-serif;

  /* FONT SIZE 游릭*/
  --pf-typography-h1: 48px;
  --pf-typography-h2: 25px;
  --pf-typography-h3: 20px;
  --pf-typography-p: 16px;

  /* LEADING 游리*/
  --pf-typography-h1-leading: 1.2;
  --pf-typography-h2-leading: 1.2;
  --pf-typography-h3-leading: 1.3;
  /* Al a침adir ps, ver si esta medida es buena */
  --pf-typography-p-leading: 1.5;

  /* MARGIN 游댮*/
  /* Determinar si hay */
  /* --pf-typography-margin-heading: 12px;
  --pf-typography-margin-body: 18px; */

  /* PADDING 游리*/
  --pf-padding-container: 30px;
  --pf-padding-card: 30px;

  /* GAP 游댮*/
  --pf-gap-header: 16px;
  --pf-gap-cta: 12px;
  --pf-gap-hero: 32px;
  --pf-gap-customer: 32px;
  --pf-gap-feature: 32px;
  --pf-gap-card: 20px;
  --pf-gap-pricing: 32px;
  --pf-gap-testimonial: 48px;

  /* BORDER RADIUS 游리*/
  --pf-radius-container: 32px;
  --pf-radius-card: 30px;
  --pf-radius-img: 80px;
  --pf-radius-button: 80px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font-family: var(--pf-typography-heading);
  color: var(--pf-color-brown-dark);
  font-weight: 700;
  font-size: var(--pf-typography-h1);
  opacity: 0.8;
  text-transform: uppercase;
  line-height: var(--pf-typography-h1-leading);
}

h2 {
  font-family: var(--pf-typography-body);
  color: var(--pf-color-brown-medium);
  font-size: var(--pf-typography-h2);
  font-weight: 400;
  opacity: 0.8;
  line-height: var(--pf-typography-h2-leading);
}

h3 {
  font-family: var(--pf-typography-heading);
  color: var(--pf-color-brown-dark);
  font-size: var(--pf-typography-h3);
  font-weight: 600;
  opacity: 0.8;
  line-height: var(--pf-typography-h3-leading);
}

p {
  font-family: var(--pf-typography-body);
  color: var(--pf-color-brown-medium);
  font-size: var(--pf-typography-p);
  font-weight: 400;
  opacity: 0.8;
  line-height: var(--pf-typography-p-leading);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* Centramos el contenido del body */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Establecemos el background y le damos estilos */
  background-image: url(https://res.cloudinary.com/dwsffp1eq/image/upload/v1682619324/Portfolio/mapa_topogr%C3%A1fico_szmnvw.svg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  list-style: none;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.glass {
  display: flex;
  min-height: 80vh;
  width: 80%;
  background: var(--pf-gradient-white);
  border-radius: var(--pf-radius-container);
  backdrop-filter: blur(10px);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 235px;
  padding: var(--pf-padding-container);
  background: var(--pf-gradient-white);
  border-radius: var(--pf-radius-container);
  backdrop-filter: blur(1px);
}

/* Damos los estilos generales para desplegar correctamente los elementos */
.rrss {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10%;
}

/* Estilos para alinear los iconos de las rrss con sus respectivos enlaces */
.rrss-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  height: 50px;
  background-color: var(--pf-color-brown-dark);
  background: var(--pf-gradient-brown);
  border-radius: var(--pf-radius-card);
}

/* Estilamos los iconos de contacto del footer */
.rrss-logos a {
  width: 15%;
  border-radius: var(--pf-radius-img);
  transition: all 0.25s ease-in;
}

.rrss-logos a img {
  filter: hue-rotate(180deg);
  /* filter: grayscale(100%) brightness(1000%); */
}
.rrss-logos a:hover {
  /* Damos el efecto para que crezcan los iconos */
  transform: scale(1.05);
}

main {
  width: 80%;
  padding: var(--pf-padding-container);
}

.choosen {
  width: fit-content;
}

.choosen div {
  background: var(--pf-gradient-brown);
  border: none;
  /* Con lo siguiente hacemos din치mico el efecto de subrayado */
  width: 130%;
  border-radius: var(--pf-radius-card);
  cursor: context-menu;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
