/* Estilamos y centramos la img */
.profile img {
  margin: auto;
  /* Damos medidas específicas */
  width: 100px;
  border-radius: 50px;
}

.profile h3 {
  /* Metemos un poco de espacio para alinear con el main */
  padding-top: 10px;
}
