/* Centramos y distribuimos los elementos del profile */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pf-gap-card);
}

/* Las medidas de esta img son únicas y específicas */
.profile-img {
  width: 100px;
  border-radius: 50px;
}

/* Damos un énfasis menor a los apellidos */
.profile-surname {
  font-weight: 400;
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  /* Cambiamos la orientación de los elementos para que encaje mejor en la pantalla */
  .profile {
    flex-direction: row;
  }

  /* Damos medidas específicas */
  .profile-img {
    width: 80px;
  }

  /* Cambiamos la orientación del texto */
  .profile h3 {
    text-align: left;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  /* Cambiamos la orientación de los elementos para que encaje mejor en la pantalla */
  .profile {
    flex-direction: row;
  }

  /* Damos medidas específicas */
  .profile-img {
    width: 80px;
  }

  /* Cambiamos la orientación del texto */
  .profile h3 {
    text-align: left;
  }
}
