/* Estilamos el contenedor del title*/
.title {
  /* Con la siguiente propiedad haremos dinámico el width para limitar el title-decoration*/
  width: fit-content;
  padding-bottom: var(--pf-padding-container);
}

/* Estilamos la barra de decoración que subraya el título */
.title-decoration {
  background: var(--pf-gradient-brown);
  border: none;
  border-radius: var(--pf-radius-input);
  cursor: context-menu;
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  /* Centramos el contenedor del title para la vista de tablet*/
  .title {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Limitamos la decoración para hacerla más visual */
  .title-decoration {
    width: 90%;
  }

  /* Reducimos el tamaño de la fuente para que no se exceda */
  .title-text {
    font-size: calc(var(--pf-typography-h1) - 5px);
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  /* Reducimos el tamaño de la fuente para que no se exceda */
  .title-text {
    font-size: calc(var(--pf-typography-h1) - 10px);
  }
}
