.page-title {
  /* Con la siguiente propiedad haremos dinámico el contenido del componente*/
  width: fit-content;
  padding-bottom: var(--pf-padding-container);
}

/* Estilamos la barra de decoración que subraya el título */
.decoration {
  background: var(--pf-gradient-brown);
  border: none;
  border-radius: var(--pf-radius-card);
  cursor: context-menu;
}
