/* Aplicamos las propiedades al main */
main {
  padding: var(--pf-padding-container);
  /* Aplicamos este margin para mejorar la visualización del scroll */
  margin: var(--pf-margin-container);
  overflow: auto;
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  /* Quitamos el margin para mejorar la visualización del scroll */
  main {
    margin: 0;
  }
}

/* MOBILE DISPLAY */
/* Ver si replicar tal cual de tablet */
@media screen and (max-width: 376px) {
  /* Quitamos el margin para mejorar la visualización del scroll */
  main {
    margin: 0;
  }
}
