/* Las diferentes cards de cardos se alinearan con la siguiente configuración */
.card-grid-fluid {
    /* max-width: 90%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
    gap: var(--pf-gap-grid);
    grid-auto-flow: dense;
  }
  
  /* Establecemos los estilos que tendrán en común las cards */
  .card {
    position: relative;
    /* Establecemos unas medidas que permitan ver todo el contenido */
    width: 240px;
    height: 320px;
    outline: 2px solid var(--pf-color-brown-light);
    border-radius: var(--pf-radius-card);
    padding: 16px;
    background: var(--pf-color-beige);
    /* Ocultamos para que solo se vea una de las caras */
    overflow: hidden;
  }
  
  .card-front {
    /* Hemos usado absolute para posicionar correctamente la card, 
    usar esta propiedad implica retocar correctamente todo, no vale con el flex*/
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* Con esta propiedad evitamos que se descentre el contenido */
    left: 0;
    /* Establecemos el efecto */
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
  /* Mentenemos los estilos del h pero le aplicamos un bold para dar más importancia*/
  .card-title {
    font-weight: bold;
  }
  
  /* Establecemos las propiedades de la img del cardo */
  .card-img {
    border-radius: var(--pf-radius-img);
    /* width: 170px; */
    height: 110px;
  }
  
  /* Distribuimos eficientemente los logos de las tecnologías */
  .card-technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 16px;
  }
  
  /* Establecemos el tamaños de los logos */
  .card-technologies img {
    width: 18%;
    height: 18%;
  }
  
  /* Hemos obtenido la flecha de Google Fonts, la cargamos con las propiedades que he decidido */
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 200, 'opsz' 48;
  }
  
  /* Establecemos el efecto del hover para desplazar el contenido */
  .card:hover .card-front {
      /* Damos un efecto extra al añadir ese 20% */
      transform: translateX(-120%);
    }
  
  /* Gestionamos los estilos de la parte back de la card, donde irá la descripción del cardo */
  .card-back {
      /* De base mantenemos la parte trasera del back con el translate para que no se vea */
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    text-align: justify;
    gap: var(--pf-gap-grid);
  }
  
  .card-links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    /* flex-direction: row-reverse; */
  }
  
  /* Damos las propiedades al logo de github */
  .card-links img {
    width: 32px;
    /* padding-top: 10px; */
  }
  
  /* Establecemos el efecto del hover para regresar el contenido desplazado */
  .card:hover .card-back {
    transform: translateX(0);
  }