/* Establecemos las propiedades para distribuir las cards de información */
/* La idea original era con grid pero no he sido capaz de hacer que las cards saltaran con la pantalla */
.home-flex-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  gap: var(--pf-gap-card);
}

/* Establecemos los diseños generales y comunes para las cards*/
.home-card {
  /* Ya que no he sido capaz de hacer grid en la clase padre establezco un width común */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  width: 270px;
  max-width: 320px;
  height: auto;
  padding: var(--pf-padding-card);
  background: var(--pf-color-beige);
  border: var(--pf-border-width-card) solid var(--pf-color-brown-light);
  border-radius: var(--pf-radius-card);
}

/* Establecemos un margen extra a los títulos de las cards */
.home-flex-fluid article h2 {
  padding-bottom: var(--pf-padding-title);
}

/* Definimos las propiedades para visualizar las cards de resumen de la info */
.home-resume-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: var(--pf-gap-card);
  overflow: hidden;
}

/* Con estas propiedades definimos el interior de las cards anteriores */
.home-resume-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Establecemos un padding menos que el de un card normal ya que su tamaño es reducido */
  padding: 10px;
  gap: var(--pf-gap-card);
  background: var(--pf-color-brown-medium);
  border-radius: var(--pf-radius-card);
}

/* Establecemos un tamaño adecuado para los iconos dentro de las cards resumen */
.home-resume-info img {
  width: 40%;
}

/* Cambiamos el color del texto de las cards resumen para darle más énfasis */
.home-resume-info p,
.home-resume-info h1,
.home-resume-info h2,
.home-resume-info h3 {
  color: var(--pf-color-beige);
}

/* Diseños para la card de tecnologia */
.home-technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pf-gap-card);
}

/* Diseños para el slider */
.slider {
  /* Establecemos esta propiedad para quitar los estilos por defecto */
  appearance: none;
  -webkit-appearance: none;
  /* Diseños para la barrita */
  width: max-content;
  height: 5px;
  background-color: var(--pf-color-brown-medium);
  outline: none;
  /* Le damos la forma circular */
  border-radius: var(--pf-radius-input);
}

/* Diseños para el círculo del slider */
.slider::-webkit-slider-thumb {
  /* Establecemos esta propiedad para quitar los estilos por defecto */
  appearance: none;
  -webkit-appearance: none;
  /* Diseños para el thumb */
  width: 20px;
  height: 20px;
  background: var(--pf-color-brown-light);
  /* Le damos la forma circular */
  border-radius: var(--pf-radius-input);
  /* Hacemos que no cambie el cursor */
  cursor: inherit;
}

/* Definimos la distribución y el tamaño de los logos contenidos en tecnología */
.home-technologies-logos {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--pf-gap-card);
  padding-bottom: var(--pf-padding-list);
}

/* Establecemos el width aquí para poder ordenar las img correctamente */
.home-technologies-logos img {
    width: 24px;
}

/* Establecemos una separación entre los dos elementos acorde al gap de cards */
.home-languages {
  margin-bottom: var(--pf-gap-card);
}

/* Distribuímos los idiomas para que se vean correctamente */
.home-languages-language {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Diseñamos la card de emprendimiento con un grid */
.home-entrepreneur {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'img role role'
    'img date date'
    'description description description'
    'remarkable remarkable remarkable';
  align-items: center;
  text-align: justify;
  gap: var(--pf-gap-card);
}
/* Establecemos las diferentes grid areas */
.home-entrepreneur-img {
  grid-area: img;
  width: 50px;
}

.home-entrepreneur-role {
  grid-area: role;
}

.home-entrepreneur-date {
  grid-area: date;
  /* Damos efecto al texto con la cursiva */
  font-style: italic;
}

.home-entrepreneur-description {
  grid-area: description;
  /* font-style: italic; */
  text-align: justify;
  /* Establecemos un border a modo de separador de info*/
  border-bottom: var(--pf-color-brown-medium) solid 2px;
  /* Se añade este padding para dar espacio al border insertado */
  padding-bottom: 10px;
}

.home-entrepreneur-remarkable {
  grid-area: remarkable;
  /* El texto contiene un a, le quitamos la decoración */
  text-decoration: none;
  text-align: center;
}
