/* Las diferentes cards se alinearan con la siguiente configuración */
.home-flex-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: var(--pf-gap-flex);
}

/* Establecemos los diseños generales y comunes para las cards*/
.home-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* Es muy importante esta propiedad para que crezcan las cards */
  flex-grow: 1;
  /* Establecemos los tamaños de las cards */
  width: 270px;
  max-width: 320px;
  padding: var(--pf-padding-card);
  background: var(--pf-color-beige);
  border: var(--pf-border-card-style);
  border-radius: var(--pf-radius-card);
}

/* Estilos específicos para los títulos de las cards */
.home-card-title {
  font-weight: bold;
  /* Establecemos un padding extra a los títulos de las cards */
  padding-bottom: var(--pf-padding-title);
}

/* Diseños generales para los slider */
.slider {
  /* Establecemos esta propiedad para quitar los estilos por defecto */
  appearance: none;
  -webkit-appearance: none;
  /* Diseños para la barrita */
  width: max-content;
  height: 5px;
  background-color: var(--pf-color-brown-medium);
  outline: none;
  /* Le damos la forma circular */
  border-radius: var(--pf-radius-input);
}

/* Diseños para el círculo del slider */
.slider::-webkit-slider-thumb {
  /* Establecemos esta propiedad para quitar los estilos por defecto */
  appearance: none;
  -webkit-appearance: none;
  /* Diseños para el thumb */
  width: 15px;
  height: 15px;
  background: var(--pf-color-brown-light);
  /* Le damos la forma circular */
  border-radius: var(--pf-radius-input);
  /* Hacemos que no cambie el cursor */
  cursor: inherit;
}

/* - RESUMEN - */
/* Definimos las propiedades para visualizar las cards de resumen de la info */
.home-resume-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: var(--pf-gap-card);
  overflow: hidden;
}

/* Con estas propiedades definimos el interior de las cards anteriores */
.home-resume-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Establecemos un padding menos que el de un card normal ya que su tamaño es reducido */
  padding: 10px;
  gap: var(--pf-gap-card);
  background: var(--pf-color-brown-medium);
  border-radius: var(--pf-radius-card);
}

/* Establecemos un tamaño adecuado para los iconos dentro de las cards resumen */
.home-resume-info img {
  width: var(--pf-img-medium);
}

/* Cambiamos el color del texto de las cards resumen para darle más énfasis */
.home-resume-info p,
.home-resume-info h1 {
  color: var(--pf-color-beige);
}

/* - TECNOLOGIAS - */
/* Diseños para la card de tecnologia */
.home-technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pf-gap-card);
}

/* Definimos la distribución de los container de los logos contenidos en tecnología */
.home-technologies-logos {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--pf-gap-card);
  padding-bottom: var(--pf-padding-list);
}

/* Establecemos el tamaño de los logos */
.home-technologies-logos img {
  width: var(--pf-img-mini);
}

/* - IDIOMAS - */
/* Hemos organizado las cards de idiomas y emprendimiento en un div común por su tamaño, 
establecemos una separación entre los dos elementos acorde al gap de cards */
.home-languages {
  margin-bottom: var(--pf-gap-card);
}

/* Distribuímos los idiomas para que se vean correctamente */
.home-languages-language {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* - EMPRENDIMIENTO - */
/* Diseñamos la card de emprendimiento con un grid */
.home-entrepreneur {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'img info info'
    'img info info'
    'description description description'
    'remarkable remarkable remarkable';
  align-items: center;
  text-align: justify;
  gap: var(--pf-gap-card);
}

/* Establecemos las diferentes grid areas */
.home-entrepreneur-img {
  grid-area: img;
  width: fit-content;
}

.home-entrepreneur-info {
  grid-area: info;
}

/* Cambiamos el estilo de la fuente a la fecha */
.home-entrepreneur-date {
  font-style: italic;
}

/* Damos propiedades a la descripción del emprendimiento */
.home-entrepreneur-description {
  grid-area: description;
  text-align: justify;
  /* Establecemos un border a modo de separador de info*/
  border-bottom: solid 2px var(--pf-color-brown-medium);
  /* Se añade este padding para dar espacio al border insertado */
  padding-bottom: 10px;
}

.home-entrepreneur-remarkable {
  grid-area: remarkable;
  /* El texto contiene un a, le quitamos la decoración */
  text-decoration: none;
  text-align: center;
}
