header {
  /* Centramos y distribuímos los diferentes elementos que compondrán el header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  /* Fijamos un width en el que quepa el contenido */
  width: 280px;
  /* Estilamos el visual */
  padding: var(--pf-padding-container);
  background: var(--pf-gradient-white);
  border-radius: var(--pf-radius-container);
}

header .rrss {
  display: flex;
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  header {
    flex-direction: row;
    width: 100%;
    height: min-content;
  }

  header .rrss {
    display: none;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  header {
    /* flex-direction: row; */
  }

  header .rrss {
    display: none;
  }
}
