/* Damos los diferentes estilos al header */
header {
  /* Centramos y distribuímos los diferentes elementos que compondrán el header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  /* Fijamos un width en el que quepa el contenido */
  width: 300px;
  /* Estilamos el visual */
  padding: var(--pf-padding-container);
  gap: var(--pf-gap-list);
  background: var(--pf-gradient-white);
  border-radius: var(--pf-radius-container);
}

/* Visualizamos por defecto el footer de la vista de pc */
header .rrss {
  display: flex;
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  /* Adaptamos el contenido del header a toda su extensión */
  header {
    width: 100%;
  }

  /* Quitamos la visualización del footer del header */
  header .rrss {
    display: none;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  /* Adaptamos el contenido del header a toda su extensión */
  header {
    width: 100%;
  }

  /* Quitamos la visualización del footer del header */
  header .rrss {
    display: none;
  }
}
