/* Diseño para quitar la hamburguesa, estamos en desktop first */
.nav-hamburguer-label,
.nav-hamburguer {
  display: none;
}

/* Tamaño para el logo de la hamburguer  */
.nav-hamburguer-label {
  width: var(--pf-img-mini);
}

/* Propiedades para la lista de navegables */
.nav-list {
  display: flex;
  flex-direction: column;
  /* Con esta propiedad fijamos los nav a la izquierda */
  padding: 0;
  gap: var(--pf-gap-flex);
}

/* Distribuimos correctamente y espaciamos los nav gracias al flex*/
.nav-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

/* Damos tamaño a los logos */
.nav-image {
  width: var(--pf-img-mini);
}

/* Damos espacio entre los logos y el texto */
.nav-title {
  padding-left: var(--pf-padding-list);
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  /* Hacemos visible el icono del hamburguer */
  .nav-hamburguer-label {
    display: block;
  }

  /* Por defecto en esta query la lista nav no se ve */
  nav {
    display: none;
  }

  /* Al hacer CHECK en la hamburguer -> Aparece la nav */
  .nav-hamburguer:checked + nav {
    display: flex;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  /* Hacemos visible el icono del hamburguer */
  .nav-hamburguer-label {
    display: block;
  }

  /* Por defecto en esta query la lista nav no se ve */
  nav {
    display: none;
  }

  /* Al hacer CHECK en la hamburguer -> Aparece la nav */
  .nav-hamburguer:checked + nav {
    display: flex;
  }
}
