/* Diseño para quitar la hamburguesa, estamos en desktop first */
.nav-hamburguer-label,
.nav-hamburguer {
  display: none;
}

.nav-hamburguer-label {
  width: var(--pf-img-mini);
}

/* Con esta propiedad fijamos los nav a la izquierda */
.nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: var(--pf-gap-list);
}

/* Distribuimos correctamente y espaciamos los nav */
.nav_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  /* padding-bottom: 25px; */
}

/* Damos tamaño a los logos */
.nav_image {
  width: var(--pf-img-mini);
}

/* Damos espacio entre los logos y el texto */
.nav_item h2 {
  padding-left: var(--pf-padding-list);
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  .nav-hamburguer-label
  /* .nav-hamburguer  */ {
    display: block;
  }

  /* Por defecto la nav no se ve */
  nav {
    display: none;
  }

  /* CHECKED -> Aparece la nav */
  .nav-hamburguer:checked + nav {
    display: flex;
    padding: var(--bc__padding--big);
  }

  .nav-list {
    padding: inherit
  }
}

/* MOBILE DISPLAY */
/* Ver si replicar tal cual de tablet */
@media screen and (max-width: 376px) {
  .nav-hamburguer-label
  /* .nav-hamburguer  */ {
    display: block;
  }

  /* Por defecto la nav no se ve */
  nav {
    display: none;
  }

  /* CHECKED -> Aparece la nav */
  .nav-hamburguer:checked + nav {
    display: flex;
    padding: var(--bc__padding--big);
  }

  .nav-list {
    padding: inherit
  }
}
