/* Establecemos los estilos para desplegar correctamente las cards y que se adapten correctamente */
.learning-grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
  gap: var(--pf-gap-grid);
  /* justify-content: center; */
  padding-bottom: 10px;
  grid-auto-flow: dense;
}

/* Definimos las propiedades para crear un template basado en grid que se adapte al contenido dado */
.learning {
  display: grid;
  /* Estas propiedades auto son muy importantes */
  grid-template-columns: auto 0.2fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'logo info info'
    'title title title'
    'description description description'
    'ects ects date';
  height: auto;
  padding: var(--pf-padding-card);
  gap: var(--pf-gap-card);
  background: var(--pf-color-beige);
  border: var(--pf-border-width-card) solid var(--pf-color-brown-light);
  border-radius: var(--pf-radius-card);
}

/* A continuación relacionamos los elementos del template grid */
.learning-logo {
  grid-area: logo;
  /* Establecemos el width para que no crezca demasiado */
  width: 50px;
}

.learning-institution-info {
  grid-area: info;
}

.learning-title {
  grid-area: title;
  text-align: justify;
}

.learning-description {
  grid-area: description;
  font-style: italic;
  text-align: justify;
  /* Establecemos un border a modo de separador de info*/
  border-bottom: var(--pf-color-brown-medium) solid 2px;
  /* Se añade este padding para dar espacio al border insertado */
  padding-bottom: 10px;
}

.learning-date {
  grid-area: date;
}

.learning-ects {
  grid-area: ects;
}
