/* Damos los estilos generales para desplegar correctamente los elementos */
.rrss {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10%;
}

/* Estilos para alinear los iconos de las rrss con sus respectivos enlaces */
.rrss-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  height: 50px;
  background-color: var(--pf-color-brown-dark);
  background: var(--pf-gradient-brown);
  border-radius: var(--pf-radius-card);
}

/* Estilamos los iconos de contacto del footer */
.rrss-logos a {
  width: 15%;
  border-radius: var(--pf-radius-img);
  transition: all 0.25s ease-in;
}

/* Damos el efecto para que crezcan los iconos */
.rrss-logos a:hover {
  transform: scale(1.05);
}