/* Damos los estilos generales para desplegar correctamente los elementos */
.rrss {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--pf-margin-cta);
}

/* Estilos para alinear los iconos de las rrss con sus respectivos enlaces */
.rrss-logos {
  display: flex;
  align-items: center;
  padding: var(--pf-padding-cta);
  gap: var(--pf-gap-cta);
  background-color: var(--pf-color-brown-dark);
  background: var(--pf-gradient-brown);
  border-radius: var(--pf-radius-input);
}

/* Estilamos los iconos de contacto del footer */
.rrss-logos a {
  width: var(--pf-img-mini);
  border-radius: var(--pf-radius-img);
  transition: all 0.25s ease-in;
}

/* Damos el efecto para que crezcan los iconos */
.rrss-logos a:hover {
  transform: scale(1.05);
}