.glass {
  /* Distribuimos el header y main */
  display: flex;
  flex-direction: row;
  /* Damos las medidas que queremos que tenga la app */
  min-width: 300px;
  width: 85%;
  height: 90vh;
  background: var(--pf-gradient-white);
  border-radius: var(--pf-radius-container);
  /* Obtenemos el efecto glass con esta propiedad */
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* Con esta propiedad bloqueamos la vista del footer, en el header hacemos visible cuando nos interesa */
.glass footer {
  display: none;
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  /* Cambiamos la orientación de la app */
  .glass {
    flex-direction: column;
  }

  /* Visibilizamos el footer para que aparezca al final, bloqueamos en el header el otro footer */
  .glass footer {
    display: flex;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  /* Cambiamos la orientación de la app */
  .glass {
    flex-direction: column;
  }

  /* Visibilizamos el footer para que aparezca al final, bloqueamos en el header el otro footer */
  .glass footer {
    display: flex;
  }
}
