.glass {
    /* Distribuimos el header y main */
    display: flex;
    flex-direction: row;
    /* Damos las medidas que queremos que tenga la app */
    width: 85%;
    height: 85%;
    background: var(--pf-gradient-white);
    border-radius: var(--pf-radius-container);
    /* Obtenemos el efecto glass con esta propiedad */
    backdrop-filter: blur(10px);
  }