/* Las diferentes cards de proyectos se alinearan con la siguiente configuración */
.proyect-flex-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--pf-gap-flex);
}

/* Establecemos los estilos que tendrán en común las cards */
.proyect {
  /* Con eso mantenemos la visualización de la card */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Es muy importante esta propiedad para que crezcan las cards */
  flex-grow: 1;
  /* Establecemos unas medidas que permitan ver todo el contenido */
  width: 215px;
  max-width: 250px;
  min-height: 350px;
  outline: var(--pf-border-card-style);
  border-radius: var(--pf-radius-card);
  /* En base al display de ambas caras, este padding será el que se aplique al back */
  padding: var(--pf-padding-card);
  background: var(--pf-color-beige);
  /* Ocultamos para que solo se vea una de las caras */
  overflow: hidden;
}

/* Retocamos la cara principal de las cards */
/* Al ser un absolute tenemos que aplicar propiedades "repetidas" */
.proyect-front {
  /* Hemos usado absolute para posicionar correctamente la card */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Obligamos a que el front se distribuya al total de la card */
  width: 100%;
  height: 100%;
  padding: var(--pf-padding-card);
  gap: var(--pf-gap-card);
  /* Establecemos el efecto */
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* Mentenemos los estilos del h pero le aplicamos un bold para dar más importancia*/
.proyect-title {
  font-weight: bold;
  text-align: center;
}

/* Establecemos las propiedades de la img del proyecto */
.proyect-img {
  border-radius: var(--pf-radius-img);
  height: 35%;
}

/* Distribuimos eficientemente los logos de las tecnologías */
.proyect-technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--pf-gap-card);
}

/* Establecemos el tamaños de los logos */
.proyect-technologies img {
  width: var(--pf-img-small);
  height: var(--pf-img-small);
}

/* Hemos obtenido la flecha de Google Fonts, la cargamos con las propiedades que he decidido */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 200, 'opsz' 48;
}

/* Establecemos el efecto del hover para desplazar el contenido */
.proyect:hover .proyect-front {
  transform: translateX(-200%);
}

/* Gestionamos los estilos de la parte back de la card, donde irá la descripción del proyecto */
.proyect-back {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: var(--pf-gap-card);
  /* De base mantenemos la parte trasera del back con el translate para que no se vea */
  transform: translateX(200%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* Cambiamos el estilo de la fuente del origen del proyecto */
.proyect-origin {
  font-style: italic;
}

/* Damos estilos al contenedor de los links del proyecto */
.proyect-links {
  display: flex;
  align-items: center;
  gap: var(--pf-gap-card);
}

/* Damos estilos a los logos de los links */
.proyect-links img {
  width: var(--pf-img-small);
}

/* Establecemos el efecto del hover para regresar el contenido desplazado */
.proyect:hover .proyect-back {
  transform: translateX(0);
}
